mixin menu(items)
  nav.menu
    each item in items
      if page == item.name
        a.menu__link.menu__link_active(href=item.link)= item.title
      else
        a.menu__link(href=item.link)= item.title
