mixin logo(logo)
  .logo
    .logo__wrapper
      // TODO: необходимо стилдизовать ссылки в лого
      a(href='/')
        img.logo__image(src=logo alt='logo')
      a(href='/')
        .logo__title автоуслуги в кургане
