.social {
  float: right;
  padding: 0;
  margin: 0;
  border: 0;

  background-color: red;
  list-style: none;

  &__item {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  &__image {
    width: 100%;
  }
}
