extends ./../layout/layout.jade

block title
  title о нас

block meta
  meta(name='Keywords' content='проверка авто, заказ запчастей, получить консультацию, диагностика авто, чип тюнинг авто')
  meta(name='description' content='проверить авто, получить консультацию, провести диагностику и чип тюнинг')

block content
  - var page = 'about'
  article
    h1 Ремонт автомобилей
    p Компания "Автопомощь в Кургане" поможет вам проверить авто перед покупкой или продажей, заказать автозапчасти, провести качественное техническое обслуживание. Ежемесячно мы проводим различные акции: компьютерная диагностика в подарок, каждому клиенту, который приведет друга. Также, вас ждут привлекательные скидки и большой выбор услуг в подарок. Наш клиент всегда может позвонить нам по телефону или написать на почту и получить консультацию по любому вопросу. Если вам нужно отремонтировать автомобиль, или с вашим авто что-то не так- троит движок, слишком большой расход или барахлит электроника - добро пожаловать ! Наш специалист
      b
        = ' '
        a(href='contacts.html', target='_blank') Вдовенков Иван
      = ' '
      |исправит любую проблему, сделает тюнинг ваз, а также подскажет куда обратиться, если вопрос вне нашей компетенции. Мы сотрудничаем со многими специалистами, лучшими в своем деле.
    p
      b Почему мы?
      = ' '
      | Да потому, что "Автопомощь в Кургане" находится в центре, мы ценим каждого клиента, цены соответствуют качеству и индивидуальный подход -наш конёк.
    p
    h4 Мы любим свое дело!
      a(href='/assets/remont_avto45.jpg', target='_blank')
        img(src='/assets/remont_avto45.jpg', alt='remont_avto45')
