extends ./../layout/layout.jade

block title
  title автомагазин, товары на продажу

block meta
  meta(name='Keywords' content='продам, товары на продажу, автотовары на продажу, автозапчасти')
  meta(name='description' content='автозапчасти по выгодной цене')

block content
  - var page = 'carShop'
  article
    h1 Автомобильный софт и продажа автозапчастей
    p Уважаемые посетители сайта, в нашем каталоге  вы можете заказать запчасти в Кургане.

    h2 Оригинальные дилерские лицензионные устройства/софт:
    ul
      li
        b Op-com  дилерский прибор для диагностики Opel Vauxhall
        p
          a(href='/assets/goods/Op-com.jpg', target='_blank')
            img(src='/assets/goods/Op-com.jpg', alt='Op-com диллерский прибор для диагностики')

    h2 Китайские устройства и софт:
    ul
      li
        b Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
        p
          a(href='/assets/goods/Galletto-1260.jpg', target='_blank')
            img(src='/assets/goods/Galletto-1260.jpg', alt='Galletto-1260')
      li
        b Lexia-3 дилерский прибор для диагностики Peugeot/Citroen и некоторых Mitsubishi
        p
          a(href='/assets/goods/Lexia-3.jpg', target='_blank')
            img(src='/assets/goods/Lexia-3.jpg', alt='Lexia-3')
      li
        b MiniVCI универсальный интерфейс для диагностики (Toyota Lexus Scion Daihatsu Honda Acura Volvo Ford Mazda Lincoln Mercury Mitsubishi)
        p
          a(href='/assets/goods/MiniVCI.jpg', target='_blank')
            img(src='/assets/goods/MiniVCI.jpg', alt='MiniVCI')
      li
        b MPPS универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
        p
          a(href='/assets/goods/MPPS.jpg', target='_blank')
            img(src='/assets/goods/MPPS.jpg', alt='MPPS')
      li
        b VAS5054a дилерский прибор для диагностики VAG-группы (Volkswagen Audi Seat Skoda Lamborghini Bentley)
        p
          a(href='/assets/goods/VAS5054a.jpg', target='_blank')
            img(src='/assets/goods/VAS5054a.jpg', alt='VAS5054a')
      li
        b VCM-II дилерский прибор для диагностики Ford Mazda Jaguar LandRover
        p
          a(href='/assets/goods/VCM-II.jpg', target='_blank')
            img(src='/assets/goods/VCM-II.jpg', alt='VCM-II')
      li
        b X-ProgBox программатор процессоров и микросхем памяти
        p
          a(href='/assets/goods/X-ProgBox.jpg', target='_blank')
            img(src='/assets/goods/X-ProgBox.jpg', alt='X-ProgBox')
    p Если возникли какие-то вопросы или вы хотите заказать автозапчасти и софт - звоните по телефону или напишите на электронную почту
    p
      b Вдовенков Иван
    p
      b +7 (961) 749-76-54
    p
      a(href='mailto:vdovenkovivan@gmail.com', target='_blank') vdovenkovivan@gmail.com

