extends ./../layout/layout.jade

block title
  title автомагазин, товары на продажу

block meta
  meta(name='Keywords' content='продам, товары на продажу, автотовары на продажу, автозапчасти')
  meta(name='description' content='автозапчасти по выгодной цене')

block content
  - var page = 'carShop'
  article
    h1 Автомобильный софт и автозапчасти на продажу
    p Уважаемые посетители сайта, в каталоге "Автопомощь в Кургане" имеются на продажу следующие виды товаров.
    h3 Оригинальные дилерские лицензионные устройства/софт:
    ul
      li
        h4 Consult-III дилерский прибор для диагностики Nissan Infiniti Renault Dacia Samsung
        p
          a(href='/assets/goods/Consult-III.jpg', target='_blank')
            img(src='assets/goods/Consult-III.jpg', alt='Consult-III')
      li
        h4 MUT-III дилерский прибор для диагностики Mitsubishi и некоторых моделей Peugeot Citroen
        p
          a(href='/assets/goods/MUT-III.jpg', target='_blank')
            img(src='/assets/goods/MUT-III.jpg', alt='MUT-III')
      li
        h4 Etari ET-111 толщиномер для определения толщины ЛКП по цветным и черным металламli Orange5 программатор процессоров и микросхем памяти
        p
          a(href='/assets/goods/Etari ET-111.jpg', target='_blank')
            img(src='/assets/goods/Etari ET-111.jpg', alt='Etari ET-111')
      li
        h4 ELS27 универсальный интерфейс для диагностики(Ford Mazda Lincoln Mercury) и чип-тюнинга (Ford)
        p
          a(href='/assets/goods/ELS27.jpg', target='_blank')
            img(src='/assets/goods/ELS27.jpg', alt='ELS27')
      li
        h4 S-Tool лицензионный софт для корректировки одометров /PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
          a(href='/assets/goods/S-Tool_PCMFlash_ECUFlasher.jpg', target='_blank')
            img(src='/assets/goods/S-Tool_PCMFlash_ECUFlasher.jpg', alt='S-Tool_PCMFlash_ECUFlasher')
      li
        h4 Tactrix OpenPort 2.0 оригинальный интерфейс для чип-тюнинга и репрограмминга блоков управления легковых автомобилей (США)
        p
          a(href='/assets/goods/Tactrix OpenPort 2.0.jpg', target='_blank')
            img(src='/assets/goods/Tactrix OpenPort 2.0.jpg', alt='Tactrix OpenPort 2.0')
      li
        h4 Op-com  дилерский прибор для диагностики Opel Vauxhall
        p
          a(href='/assets/goods/Op-com.jpg', target='_blank')
            img(src='/assets/goods/Op-com.jpg', alt='Op-com')
      li
        h4 Orange5 программатор процессоров и микросхем памяти
        p
          a(href='/assets/goods/Orange5.jpg', target='_blank')
            img(src='/assets/goods/Orange5.jpg', alt='Orange5')

    h3 Китай:
    ul
      li
        h4 Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
        p
          a(href='/assets/goods/Galletto-1260.jpg', target='_blank')
            img(src='/assets/goods/Galletto-1260.jpg', alt='Galletto-1260')
      li
        h4 Lexia-3 дилерский прибор для диагностики Peugeot/Citroen и некоторых Mitsubishi
        p
          a(href='/assets/goods/Lexia-3.jpg', target='_blank')
            img(src='/assets/goods/Lexia-3.jpg', alt='Lexia-3')
      li
        h4 MiniVCI универсальный интерфейс для диагностики (Toyota Lexus Scion Daihatsu Honda Acura Volvo Ford Mazda Lincoln Mercury Mitsubishi)
        p
          a(href='/assets/goods/MiniVCI.jpg', target='_blank')
            img(src='/assets/goods/MiniVCI.jpg', alt='MiniVCI')
      li
        h4 MPPS универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
        p
          a(href='/assets/goods/MPPS.jpg', target='_blank')
            img(src='/assets/goods/MPPS.jpg', alt='MPPS')
      li
        h4 VAS5054a дилерский прибор для диагностики VAG-группы (Volkswagen Audi Seat Skoda Lamborghini Bentley)
        p
          a(href='/assets/goods/VAS5054a.jpg', target='_blank')
            img(src='/assets/goods/VAS5054a.jpg', alt='VAS5054a')
      li
        h4 VCM-II дилерский прибор для диагностики Ford Mazda Jaguar LandRover
        p
          a(href='/assets/goods/VCM-II.jpg', target='_blank')
            img(src='/assets/goods/VCM-II.jpg', alt='VCM-II')
      li
        h4 X-ProgBox программатор процессоров и микросхем памяти
        a(href='/assets/goods/X-ProgBox.jpg', target='_blank')
          img(src='/assets/goods/X-ProgBox.jpg', alt='X-ProgBox')
    p Если возникли какие то вопросы или вы хотите заказать автозапчасти и софт - звоните по телефону или напишите на электронную почту
    p
      b Вдовенков Иван
    p
      b +7 (961) 7497654
    p
      b vdovenkovivan@gmail.com
