extends ./../layout/layout.jade

block title
  title автомагазин, товары на продажу

block meta
  meta(name='Keywords' content='продам, товары на продажу, автотовары на продажу, автозапчасти')
  meta(name='description' content='автозапчасти по выгодной цене')

block content
  - var page = 'carShop'
  article
    h1 Автозапчасти на продажу
    p Уважаемые посетители сайта, в каталоге "Автопомощь в Кургане" имеются на продажу следующие виды товаров.
    h3 Оригинальные дилерские лицензионные устройства/софт:
    ul
      li Consult-III дилерский прибор для диагностики Nissan Infiniti Renault Dacia Samsung
      li MUT-III дилерский прибор для диагностики Mitsubishi и некоторых моделей Peugeot Citroen
      li Etari ET-111 толщиномер для определения толщины ЛКП по цветным и черным металламli Orange5 программатор процессоров и микросхем памяти
      li ELS27 универсальный интерфейс для диагностики(Ford Mazda Lincoln Mercury) и чип-тюнинга (Ford)
      li S-Tool лицензионный софт для корректировки одометров
      li PCMFlash лицензионный софт для чип-тюнинга
      li ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков SRS
      li Tactrix OpenPort 2.0 оригинальный интерфейс для чип-тюнинга и репрограмминга блоков управления легковых автомобилей (США)

    h3 Китай:
    ul
      li Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
      li Lexia-3 дилерский прибор для диагностики Peugeot/Citroen и некоторых Mitsubishi
      li MiniVCI универсальный интерфейс для диагностики (Toyota Lexus Scion Daihatsu Honda Acura Volvo Ford Mazda Lincoln Mercury Mitsubishi)
      li MPPS универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
      li VAS5054a дилерский прибор для диагностики VAG-группы (Volkswagen Audi Seat Skoda Lamborghini Bentley)
      li VCM-II дилерский прибор для диагностики Ford Mazda Jaguar LandRover
      li X-ProgBox программатор процессоров и микросхем памяти

    p Если возникли какие то вопросы или вы хотите заказать автозапчасти и софт - звоните по телефону или напишите на электронную почту
    p Вдовенков Иван
    p +7 (961) 7497654
    p vdovenkovivan@gmail.com
