extends ./../layout/layout.jade

block title
  title автомагазин, товары на продажу

block meta
  meta(name='Keywords' content='продам, товары на продажу, автотовары на продажу, автозапчасти')
  meta(name='description' content='автозапчасти по выгодной цене')

block content
  - var page = 'car shop'
  article
    h1 Автозапчасти на продажу
    p
