extends ./../layout/layout.jade

block title
  title Контакты

block meta
  meta(name='Keywords' content='автопомощь в кургане контакты, диагностика легковых автомобилей, вдовенков иван')
  meta(name='description' content='помощь автомобилям в кургане, чип тюнинг и диагностика')

block content
  - var page = 'contacts'
  article
    h1 Контакты
    p
     b Диагностика двигателя, чип тюнинг в Кургане, техобслуживание автомобиля
    p г. Курган, ул. Володарского, д. 30 (в центре города)
    p +7(961)-749-76-54
    p vdovenkovivan@gmail.com
    p
      a(href='https://vk.com/vdovenkovii' target='_blank')
        b Иван Вдовенков
    p 09:00 до 21:00 без выходных
    p
      a(href='http://vk.com/autopomosh_v_kurgane' target='_blank')
        b Наша группа VK
    p
      b Цех кузовного ремонта. Ремонт авто Курган
    p Въезд с ул. Бульвар Мира. Бокс №1234.
    p Тел: +7 (905) 850-57-65
    p
      b Игорь Викторович
    p
      a(href='assets/carta_proezda_kuzovnoy_remont.jpg', target='_blank')
        img(src='assets/carta_proezda_kuzovnoy_remont.jpg', width="660", alt='Карта проезда к цеху кузовного ремонта')
