extends ./../layout/layout.jade

block title
  title автопомощь в кургане контакты

block meta
  meta(name='Keywords' content='автопомощь в кургане контакты, диагностика легковых автомобилей, вдовенков иван')
  meta(name='description' content='помощь автомобилям в кургане, чип тюнинг и диагностика')

block content
  - var page = 'contacts'
  article
    h1 Контакты
    p
     b Диагностика легковых автомобилей
    p  Иван Вдовенков
    p г. Курган, ул. Володарского, д. 30 (в центре города)
    p +7(961)-749-76-54
    p vdovenkovivan@gmail.com
    p Наш цех кузовного ремонта. Въезд с ул. Бульвар Мира. Бокс №1234.
    p Тел: +79058505765
    p Игорь Викторович
    p
      a(href='http://vk.com/autopomosh_v_kurgane' target='_blank') Наша группа VK
    p 09:00 до 21:00 без выходных
