extends ./../layout/layout.jade

block title
  title Помошь автомобилям

block meta
  meta(name='Keywords' content='HTML4, META, метатег, тег, поисковая система')
  meta(name='description' content='Сайт об HTML и создании сайтов')

block content
  - var page = 'discount'
  h1 Акции
  article.
  h2 Акции
   p
   b Наши акции и скидки
   p Внимание внимание!
   p С 1 июня стартует сезон летних скидок. До 31 июня действуют скидки до 30% на чип-тюнинг
