extends ./../layout/layout.jade

block title
  title автопомощь в кургане акции

block meta
  meta(name='Keywords' content='акции, скидки на автоуслуги, скидки на чип тюнинг двигателя')
  meta(name='description' content='акции и скидки на автоуслуги в кургане')

block content
  - var page = 'discount'
  article
    h1 Проверка автомобиля по выгодной цене
    p
      b Дорогие друзья
    p С 1 сентября стартует сезон осенних и очень выходных скидок.
    p Для постоянных клиентов мы подготовили специальные
      = ' '
      b скидочные карты
    p Вас ждут горячие скидки на многие автоуслуги: чип тюнинг, техобслуживание авто в городе и области,  диагностика Курган (близлежащие города по договоренности), ремонт авто Курган, автоконсультации по телефону.
    p
      a(href='contacts.html', target='_blank')
        b Звоните!
    p
      a(href='/assets/Karta_skidok.jpg', target='_blank')
        img(src='/assets/Karta_skidok.jpg', alt='Скидочная карта')

      a(href='/assets/Karta_skidok_2.jpg', target='_blank')
        img(src='/assets/Karta_skidok_2.jpg', alt='Скидочная карта оборотная сторона')
