extends ./../layout/layout.jade

block title
  title автопомощь в кургане акции

block meta
  meta(name='Keywords' content='акции, скидки на автоуслуги, скидки на чип тюнинг двигателя')
  meta(name='description' content='акции и скидки на автоуслуги в кургане')

block content
  - var page = 'discount'
  article
    h1 Наши акции и скидки
    p
    b Дорогие друзья
    p С 1 сентября стартует сезон осенних и очень выходных скидок.
    p Для постоянных клиентов мы подготовили специальные скидочные карты
    P Вас ждут горячие скидки на многие автоуслуги в Кургане: диагностика автомобиля, чип-тюнинг вашего авто, автоконсультации по телефону.
    p Звоните!
    p
     b Вдовенков Иван +7(961)-749-76-54
