extends ./../layout/layout.jade

block title
  title автопомощь в кургане акции

block meta
  meta(name='Keywords' content='акции, скидки на автоуслуги, скидки на чип тюнинг двигателя')
  meta(name='description' content='акции и скидки на автоуслуги в кургане')

block content
  - var page = 'discount'
  article
    h1 Наши акции и скидки
    p Внимание внимание!
    p С 1 июня стартует сезон летних скидок. До 31 июня действуют скидки до 30% на чип-тюнинг
