extends ./../layout/layout.jade

block title
  title 404 ошибка

block meta
  meta(name='Keywords' content='err404, ошибка 404')
  meta(name='description' content='страница 404 ошибки')

block content
  - var page = 'err404'
  article
  h1 404 ошибка
  p
    b Упс...
  p
    b Извините, страница не найдена или не существует
      = ' '
      a(href='service.html') Назад на Главную
  p
    a(href='service.html')
      img(src='/assets/avto_404_error.jpg', alt='Ошибка 404')
