extends ./../layout/layout.jade

block title
  title Помощь автомобилям

block meta
  meta(name='Keywords' content='карта сайта, sitemap,')
  meta(name='description' content='подробная карта сайта')

block content
  - var page = 'err404'
  p Упс...
  p Извините, страница не найдена или не существует
