extends ./../layout/layout.jade

block title
  title 404 ошибка

block meta
  meta(name='Keywords' content='err404, ошибка 404')
  meta(name='description' content='страница 404 ошибки')

block content
  - var page = 'err404'
  p Упс...
  p Извините, страница не найдена или не существует
