extends ./../layout/layout.jade

block title
  title Помошь автомобилям

block meta
  meta(name='Keywords' content='HTML4, META, метатег, тег, поисковая система')
  meta(name='description' content='Сайт об HTML и создании сайтов')

block content
  - var page = 'feedback'
  article
    h1 Отзывы
    p Здесь будут отзывы
