extends ./../layout/layout.jade

block title
  title отзывы

block meta
  meta(name='Keywords' content='автопомощь в кургане, автопомощь в кургане отзывы')
  meta(name='description' content='отзывы')

block content
  - var page = 'feedback'
  article
    h1 Отзывы
    p Отзывы о работе нашей команды "Автопомощь в Кургане" вы можете увидеть в группе VK (соответствующей теме)
      = ' '
      a(href='http://vk.com/topic-102895251_32736824' target='_blank') Автопомощь в Кургане
