extends ./../layout/layout.jade

block title
  title отзывы

block meta
  meta(name='Keywords' content='автопомощь в кургане, автопомощь в кургане отзывы')
  meta(name='description' content='отзывы')

block content
  - var page = 'feedback'
  article
    h1 Отзывы
    p Мы проводим работы по обслуживанию автомобиля, диагностике двигателя, а также делаем простейший ремонт автомобилей в Кургане.
    p Отзывы о работе нашей команды вы можете увидеть в группе VK (соответствующей теме)
      = ' '
      b
        a(href='http://vk.com/topic-102895251_32736824' target='_blank') Автопомощь в Кургане
    p
      a(href='https://vk.com/topic-102895251_32736824', target='_blank')
        img(src='/assets/otzivi.jpg', alt='отзывы')
