extends ./../layout/layout.jade

block title
  title Помошь автомобилям

block meta
  meta(name='Keywords' content='HTML4, META, метатег, тег, поисковая система')
  meta(name='description' content='Сайт об HTML и создании сайтов')

block content
  - var page = 'news'
  h1 Новости
  article.
    Nullam consequat tempus pellentesque. Integer et enim at tellus malesuada tempus. Nulla ut maximus nulla. Proin a fermentum magna. Cras eget fermentum libero, nec posuere leo. Curabitur sit amet risus metus. Nulla pulvinar consectetur cursus. Nulla vitae congue enim. Donec vel eleifend turpis, id semper ipsum.

    Nullam dolor orci, consequat ac purus a, congue hendrerit libero. Cras non augue vel urna elementum blandit ut eu diam. Donec eu nibh aliquam, cursus diam eget, sollicitudin justo. Donec ac erat felis. Vivamus nec posuere lectus, vel cursus elit. Aenean porttitor leo nibh, ac rutrum magna scelerisque ac. Phasellus nisi nibh, imperdiet quis pharetra eget, eleifend ac lacus. Cras sed tincidunt sem, a dignissim magna. Vivamus efficitur in turpis ac pulvinar. Nulla ut sem lorem. Duis porttitor risus eget justo ullamcorper, et volutpat nunc ullamcorper. Vivamus id velit tempor, lacinia erat vitae, vestibulum neque. Curabitur mi sapien, laoreet a eros vitae, ultricies fermentum enim. Mauris condimentum dui vitae velit fermentum pharetra. Vivamus porta sapien orci, non pulvinar magna venenatis sit amet. Duis aliquet ultrices venenatis.

    Etiam a scelerisque nunc. Maecenas eros lacus, sodales at convallis vitae, facilisis et eros. Duis ullamcorper, mi in semper eleifend, velit nibh lacinia sapien, vel tempor nunc libero vitae augue. Vestibulum congue eros ac interdum tincidunt. Donec in eleifend lorem. Vestibulum eu suscipit metus, vel tempor nisl. In euismod dolor at ligula tempus semper. Integer nunc mauris, ultricies ut ipsum accumsan, tristique vehicula nulla. Vestibulum eleifend quam finibus venenatis dictum. Mauris maximus suscipit pharetra. Nunc pellentesque neque nec justo porttitor, in gravida nulla ullamcorper. Aliquam erat volutpat. Pellentesque vulputate, dui sit amet fringilla mattis, erat ante venenatis orci, volutpat gravida nibh ipsum at urna. Proin mattis scelerisque gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pellentesque ligula est, ac rhoncus metus tincidunt ac.
