extends ./../layout/layout.jade

block title
  title Помошь автомобилям

block meta
  meta(name='Keywords' content='HTML4, META, метатег, тег, поисковая система')
  meta(name='description' content='Сайт об HTML и создании сайтов')
block content
  - var page = 'news'
  article
    h1 Новости
    h2 Новости о нашей команде, новости в мире авто
    p До 6 июня наш мастер находится в отпуске. Свои заявки можете оставить на сайте, а также написав нам на электронную почту. Также свои вопросы можете оставить в нашей группе на сайте VK
      = ' '
      a(href='http://vk.com/autopomosh_v_kurgane' target='_blank') Автопомощь в Кургане
