extends ./../layout/layout.jade

block title
  title news

block meta
  meta(name='Keywords' content='новости автопомощь в кургане, автоновости, новости авто, автоуслуги в кургане')
  meta(name='description' content='новости в мире авто и автопомощь в кургане')

block content
  - var page = 'news'
  article
    h1 Новости о нашей команде, новости в мире авто
    p Ура, друзья! Теперь мы производим обновление прошивки, обновление карт, русификацию, разблокировку просмотра видео в движении для навигационных устройств RNS-510 устанавливающихся на автомобили VAG-Группы(VW Audi Seat Skoda).
    p А так-же производим восстановление неудачно обновленных устройств (кирпичей).
    p В данном случае аппарат 2009г.в. 1T0035680B установленный на VW Tiguan с заводской прошивкой 1100 был обновлен до 3810, появился долгожданный Русский язык в меню. Возможно дальнейшее обновление прошивки, но т.к. данная версия одна из самых стабильных, решили на остановиться на ней, но нет предела совершенству.
    p Все подробности в нашей группе
      = ' '
      a(href='http://vk.com/autopomosh_v_kurgane' target='_blank') Автопомощь в Кургане
