extends ./../layout/layout.jade

block title
  title news

block meta
  meta(name='Keywords' content='новости автопомощь в кургане, автоновости, новости авто, автоуслуги в кургане')
  meta(name='description' content='новости в мире авто и автопомощь в кургане')

block content
  - var page = 'news'
  article
    h1 Новости о нашей команде, новости в мире авто
    p
      b Недавно к нам за помощью обратился владелец Audi A6 С6 2008Y 2.7TDI.
    p Жалобы были на горящую ошибку ДВС(спиралька, check), пропадание тяги(аварийный режим), соответственно было желание все починить и улучшить мощностные характеристики.
    p Первоначально была проведена диагностика всех бортовых систем, показавшая ошибки по переполнению сажевого фильтра(прожегом - регенерацией тут уже не помочь) и внутреннюю  неисправность одного из двух приводов вихревых заслонок впускного коллектора.
    p
      a(href='/assets/remont_audi.jpg', target='_blank')
        img(src='/assets/remont_audi.jpg', alt='remont_audi')
    p Решение не заставило долго ждать, делаем тюнинг и меняем конфигурацию. Вырезаем сажу и все что с ней связано: датчик температуры катализатора, датчик температуры сажевого фильтра, датчик дифференциального давления сажевого фильтра.
    p Вихревые заслонки удаляем обе, так как возможно и вторая уже на подходе в мир иной. После окончания работ по чип-тюнингу машинка наконец задышала, и с легкостью поехала.
    p
      a(href='/assets/audi_remont.jpg', target='_blank')
        img(src='/assets/audi_remont.jpg', alt='audi_remont')
    p Осталась небольшая часть слесарных работ по физическому удалению сажевого фильтра, да у нас есть и такие спецы тоже, в графе контакты группы vk, например
      b
        = ' '
        a(href='https://vk.com/id248807478' target='_blank') Иван Григорьев
      = ' '
      |с такой задачей справится.
    p По времени ремонт авто (электрические работы) заняли 4 часа.
    p
      b Всегда рады вам помочь!
      = ' '
      b
        a(href='http://vk.com/autopomosh_v_kurgane' target='_blank') Автопомощь в Кургане
    // TODO: выделить красным цветом следующую строчку ниже
    p
      b Не забываем, что сделать ремонт и  техническое обслуживание, скрутить пробег авто, заказать и установить запчасти для иномарок (и не только), вы можете
      b
        = ' '
        a(href='contacts.html', target='_blank') у нас!
