extends ./../layout/layout.jade

block title
  title цены на услуги

block meta
  meta(name='Keywords' content='цены на услуги, автоуслуги цены, диагностика авто цены, чип тюнинг цены, диагностика и чип тюнинг цены, автоконсультация, проверка авто')
  meta(name='description' content='цены на услуги по обслуживанию автомобилей')

block content
  - var page = 'price'
  article
    h1 Цены на услуги по ремонту автомобилей
    p
      a(href='/assets/price.jpg', target='_blank')
        img(src='/assets/price.jpg', alt='price')
    ul
      li
        b Диагностика автомобиля
        = ' '
        | - от 1000 рублей
      li
        b Чип тюнинг
        = ' '
        | - от 3000 рублей
      li
        b Техническое обслуживание, технический ремонт автомобилей
        = ' '
        | - цена договорная
      li
        b Консультация по телефону
        = ' '
        | - от 500 рублей
      li
        b Проверка авто комплекс перед покупкой-продажей
        = ' '
        | - от 2000 рублей
      li
        b Ремонт блоков SRS
        = ' '
        | - от 2000 рублей
      li
        b Ремонт блоков AHLS
        = ' '
        | - от 5000 рублей
      li
        b Проверка 1 авто толщиномером
        = ' '
        | - от 500 рублей
      li
        b Ремонт электропроводки
        = ' '
        | - от 2000 рублей
      li
        b Удаление ошибок
        = ' '
        | - от 500 рублей
      li
        b Заказать автозапчасти Курган
        = ' '
        | - уточняйте наличие по телефону
    p Страница регулярно пополняется. Следите за обновлениями на нашем сайте, а также уточняйте цены на наши автоуслуги по телефону или написав нам на почту.
      = ' '
      a(href='contacts.html', target='_blank') Контакты здесь
