extends ./../layout/layout.jade

block title
  title цены на услуги

block meta
  meta(name='Keywords' content='цены на услуги, автоуслуги цены, диагностика авто цены, чип тюнинг цены, диагностика и чип тюнинг цены, автоконсультация, проверка авто')
  meta(name='description' content='цены на услуги по обслуживанию автомобилей')

block content
  - var page = 'price'
  article
    h1 Цены на услуги по ремонту автомобилей
    ul
      li Диагностика авто - от 1000 рублей
      li Чип-тюнинг
      li Техническое обслуживание
      li Консультация по телефону
      li Проверка авто перед покупкой-продажей
    p Страница находится в разработке. Цены уточняйте по телефону
      = ' '
      b +7(961)-749-76-54
      = ' '
      | или написав нам на почту
      = ' '
      b vdovenkovivan@gmail.com
