extends ./../layout/layout.jade

block title
  title цены на услуги

block meta
  meta(name='Keywords' content='цены на услуги, автоуслуги цены, диагностика авто цены, чип тюнинг цены, диагностика и чип тюнинг цены, автоконсультация, проверка авто')
  meta(name='description' content='цены на услуги по обслуживанию автомобилей')

block content
  - var page = 'price'
  article
    h1 Цены на услуги по ремонту автомобилей
    ul
      li Диагностика авто - от 1000 рублей
      li Чип-тюнинг авто - от 3000 рублей
      li Техническое обслуживание - цена договорная
      li Консультация по телефону - от 500 рублей
      li Проверка авто комплекс перед покупкой-продажей - от 2000 рублей
      li Ремонт блоков SRS - от 2000 рублей
      li Ремонт блоков AHLS - от 5000 рублей
      li Проверка 1 авто толщиномером - от 500 рублей
      li Ремонт электропроводки - от 2000 рублей
      li Удаление ошибок - от 500 рублей
    p Страница находится в разработке. Цены уточняйте по телефону
      = ' '
      b +7(961)-749-76-54
      = ' '
      | или написав нам на почту
      = ' '
      b vdovenkovivan@gmail.com
