extends ./../layout/layout.jade

block title
  title услуги по обслуживанию автомобилей

block meta
  meta(name='диагностика, чип тюнинг, заказ запчастей, ремонт авто')
  meta(name='description' content='описание услуг')

block content
  - var page = 'service'
  article
    h1 Услуги
    h2 Команда "Автопомощь в Кургане" представляет вашему вниманию следующий перечень услуг:
    ul
      li Ремонт автомобилей в Кургане
      li Восстановление блоков SRS Airbag после аварии.
      li Восстановление блоков AHLS (Active Hood Lift System) после аварии.
      li Ремонт заблокированных после аварии ремней безопасности.
      li Ремонт электропроводки
      li Раскодировка магнитол, поиск пин-кодов, отвязка от иммобилайзера.
      li Русификация Американских и Японских мультимедийных систем.
      li Диагностика
      li Восстановление работоспособности японских навигационных систем.
      li Обновление прошивок и карт навигационных устройств.
      li Проверка автомобиля перед покупкой
      li Конверсия единиц измерения(мили->км, F->C, галлоны->литры)
      li Чип тюнинг в Кургане легковых автомобилей с бензиновыми и дизельными ДВС.
      li Доустановка штатных бортовых систем.
      li Курган запчасти. Заказать автозапчасти для иномарок
      li Создание и подключение эмуляторов-обманок.
      li Ремонт насосов Mitsubishi GDI.
      li Изменение показаний одометров пробега, в т.ч. с активными и пассивными дублями.
      li Ремонт комбинаций приборов.
      li Перепайка блоков управления.
      li Проверка ЛКП вашего авто толщиномером
      li Техническое обслуживание автомобиля
      li Поможем скрутить пробег
    p Подробный перечень услуг вы можете уточнить по телефону, указанному в разделе "Контакты"
