extends ./../layout/layout.jade

block title
  title Помощь автомобилям

block meta
  meta(name='Keywords' content='карта сайта, sitemap,')
  meta(name='description' content='подробная карта сайта')

block content
  - var page = 'sitemap'
  ul
    li
      a(href='http://remont-avto45.ru/index.html' target='_blank') Главная
    li
      a(href='remont-avto45.ru/service.html' target='_blank') Услуги
    li
      a(href='http://remont-avto45.ru/about.html' target='_blank') О нас
    li
      a(href='http://remont-avto45.ru/price.html' target='_blank') Цены
    li
      a(href='http://remont-avto45.ru/discount.html' target='_blank') Акции
    li
      a(href='http://remont-avto45.ru/news.html' target='_blank') Новости
    li
      a(href='http://remont-avto45.ru/contacts.html' target='_blank') Контакты
