include ../logo/logo
include ../social/social

- var vk = {name: 'vk', icon: 'http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Vk-icon.png', link: 'vk.com'}
- var instagram = {name: 'instagram', icon: '', link: 'instagram.com'}
- var socials = [ vk, instagram ];

mixin header(name)
  .header
    .header__wrapper
      +logo('https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png')
      +social(socials)
