mixin footer()
  footer.footer
    .footer__wrapper
      .footer__sitemap
        a.footer__sitemap-link(href='/sitemap.html' target='_blank') Карта сайта
      .footer__copyright 2016 (c) WebMe.pro
