@import "../node_modules/normalize.css/normalize";
@import "layout/variables";
@import "layout/mixins";

.wrapper {
  @include clearfix();
  max-width: 960px;
  margin: 0 auto;
}

body {
  position: relative;
  min-width: 960px;
  background-color: #fff;
}


.section {
  float: right;
  width: 80%;
}

@import "components/header/header";
@import "components/logo/logo";
@import "components/social/social";
@import "components/info/info";
@import "components/sidebar/sidebar";
@import "components/menu/menu";
@import "components/footer/footer";
