include ./../components/header/header
include ./../components/footer/footer
include ./../components/sidebar/sidebar
include ./../components/yandexMetricaCouter/yandexMetricaCouter
//-
    LOGO SETTING
- var logo_file = '/assets/logo.png'

//-
    MENU SETTING
- var menu_about = {title: 'О нас', link: '/about.html', name: 'about'}
- var menu_service = {title: 'Услуги', link: '/service.html', name: 'service'}
- var menu_price = {title: 'Цены', link: '/price.html', name: 'price'}
- var menu_discoutn = {title: 'Акции', link: '/discount.html', name: 'discount'}
- var menu_news = {title: 'Новости', link: '/news.html', name: 'news'}
- var menu_feedback = {title: 'Отзывы', link: '/feedback.html', name: 'feedback'}
- var menu_contacts = {title: 'Контакты', link: '/contacts.html', name: 'contacts'}
- var menu = [menu_service, menu_about, menu_price, menu_discoutn, menu_news, menu_feedback, menu_contacts]

//-
    SOCIAL SETTINGS

- var vk = {name: 'vk', icon: '/assets/vk.png', link: 'http://vk.com/autopomosh_v_kurgane'}
- var instagram = {name: 'instagram', icon: '/assets/instagram.png', link: 'https://www.instagram.com/autovkurgane/'}
- var socials = [ vk, instagram ];

//-
    INFO SETTINGS
- var tel = {header: 'телефон', text: '+7(961)-749-76-54'}
- var email = {header: 'email', text: 'vdovenkovivan@gmail.com'}
- var workTime = {header: 'время работы', text: 'с 09:00 до 21:00 без выходных'}
- var infos = [ tel, email, workTime ];


doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='assets/styles.css')
    link( rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico' )

    block title
      title Default title

    meta(charset='utf-8')
    //- meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='width=device-width')

    block meta
      meta(name='Keywords' content='default')
      meta(name='description' content='Сайт об HTML и создании сайтов')

  body
    +header()
    .content
      section.section
        block content
      +sidebar()
    +footer()
    +yandexMetricaCounter()

